[Desktop Entry]
Type=Application
Exec=/bin/bash /home/nvidia/poc/poc-orin/gui/scripts/gui_watchdog.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=RobotDemoGUI
Comment=Start Robot Demo GUI on login
